name: CI Pipeline

on:
  push:
    branches: [main, develop, feature/*]
  pull_request:
    branches: [main]

jobs:
  tests:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: .
    
    env:
      API_KEY: ${{ secrets.API_KEY }}
      DATABASE_URL: ${{ secrets.DATABASE_URL }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Set up Python
        run: uv python install 3.11

      - name: Install dependencies
        run: uv sync

      - name: Run tests
        run: uv run pytest tests/ -v --cov=api --cov-report=xml

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.xml
  deploy:
      needs: tests
      runs-on: ubuntu-latest
      if: github.ref == 'refs/heads/main'
      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Push to Hugging Face Spaces
          env:
            HF_TOKEN: ${{ secrets.HF_TOKEN }}
          run: |
            git remote add hf https://vler0ux:$HF_TOKEN@huggingface.co/spaces/vler0ux/p5-ml-deployment
            git push hf main --force